CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_APP_CLAW_LUA_MODULE_IMU=y
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_LUA_MODULE_IMU_CHIP_BMI270=y
CONFIG_ESP_LCD_TOUCH_CST816S_DISABLE_READ_ID=y
CONFIG_APP_CLAW_LUA_MODULE_FUEL_GAUGE=y
